<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9a2f25d9-3e67-4337-887e-aa7ad3b5ac54/resourcegroups/AuthenticationSystemAPI_ResourceGroup/providers/Microsoft.Web/sites/AuthenticationSystemAPI</ResourceId>
    <ResourceGroup>AuthenticationSystemAPI_ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/9a2f25d9-3e67-4337-887e-aa7ad3b5ac54/resourceGroups/AuthenticationSystemAPI_ResourceGroup/providers/Microsoft.ApiManagement/service/AuthenticationSystemAPI/apis/AuthenticationSystemAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authenticationsystemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c8ed9615-3997-4561-bb8e-9929fd028bda</ProjectGuid>
    <MSDeployServiceURL>authenticationsystemapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AuthenticationSystemAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AuthenticationSystemAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>